wheel>=0.40.0
aiomqtt==1.0.0
black==23.7.0
click==8.1.4
importlib-metadata==6.8.0
isort==5.12.0
linkify-it-py==2.0.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mypy==1.4.1
mypy-extensions==1.0.0
packaging==23.1
paho-mqtt==1.6.1
pathspec==0.11.1
platformdirs==3.8.1
Pygments==2.15.1
rich==13.4.2
textual==0.29.0
tomli==2.0.1
typing_extensions==4.7.1
uc-micro-py==1.0.2
zipp==3.16.0
